## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,73.51,80.55,45.61,96,100,6.98,overcast clouds
1,1,Georgetown,MY,5.41,100.34,86.00,66,20,4.70,few clouds
2,2,Norman Wells,CA,65.28,-126.83,33.80,71,20,5.82,few clouds
3,3,Dingle,PH,11.00,122.67,76.68,87,100,2.62,overcast clouds
4,4,Fowa,NG,8.92,6.40,84.07,67,95,5.79,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Georgetown,MY,5.41,100.34,86.00,66,20,4.70,few clouds
3,3,Dingle,PH,11.00,122.67,76.68,87,100,2.62,overcast clouds
4,4,Fowa,NG,8.92,6.40,84.07,67,95,5.79,overcast clouds
5,5,Mogadishu,SO,2.04,45.34,82.40,65,75,16.11,broken clouds
7,7,Omboue,GA,-1.57,9.26,77.76,77,99,12.17,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
698,698,Campoverde,PE,-8.48,-74.81,80.60,69,20,3.36,few clouds
699,699,La Asuncion,VE,11.03,-63.86,82.40,83,1,6.93,clear sky
700,700,Abilene,US,32.45,-99.73,87.80,43,1,6.93,clear sky
701,701,Benjamin Constant,BR,-4.38,-70.03,77.00,83,95,3.36,overcast clouds
702,702,Sola,VU,-13.88,167.55,79.54,84,100,20.71,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
preferred_cities_df = preferred_cities_df.replace('', np.nan)

In [7]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Georgetown,MY,5.41,100.34,86.00,66,20,4.70,few clouds
3,3,Dingle,PH,11.00,122.67,76.68,87,100,2.62,overcast clouds
4,4,Fowa,NG,8.92,6.40,84.07,67,95,5.79,overcast clouds
5,5,Mogadishu,SO,2.04,45.34,82.40,65,75,16.11,broken clouds
7,7,Omboue,GA,-1.57,9.26,77.76,77,99,12.17,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
698,698,Campoverde,PE,-8.48,-74.81,80.60,69,20,3.36,few clouds
699,699,La Asuncion,VE,11.03,-63.86,82.40,83,1,6.93,clear sky
700,700,Abilene,US,32.45,-99.73,87.80,43,1,6.93,clear sky
701,701,Benjamin Constant,BR,-4.38,-70.03,77.00,83,95,3.36,overcast clouds
702,702,Sola,VU,-13.88,167.55,79.54,84,100,20.71,moderate rain

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Georgetown,MY,86.00,few clouds,5.41,100.34,
3,Dingle,PH,76.68,overcast clouds,11.00,122.67,
4,Fowa,NG,84.07,overcast clouds,8.92,6.40,
5,Mogadishu,SO,82.40,broken clouds,2.04,45.34,
7,Omboue,GA,77.76,overcast clouds,-1.57,9.26,
11,Cururupu,BR,86.11,broken clouds,-1.83,-44.87,
23,Albany,US,70.00,overcast clouds,42.60,-73.97,
24,Shimoda,JP,75.00,clear sky,34.67,138.95,
25,Alvaraes,BR,78.80,scattered clouds,-3.22,-64.80,
28,Arraial Do Cabo,BR,77.00,clear sky,-22.97,-42.03,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row["Lng"]
    
    #add the lat and lng to location key for the params dictionary
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"]= hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df = hotel_df.replace('', np.nan)

In [12]:
hotel_df.isnull().sum()

City                    0
Country                 2
Max Temp                0
Current Description     0
Lat                     0
Lng                     0
Hotel Name             21
dtype: int64

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [14]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Georgetown,MY,86.00,few clouds,5.41,100.34,Cititel Penang
3,Dingle,PH,76.68,overcast clouds,11.00,122.67,Camp Pasica
5,Mogadishu,SO,82.40,broken clouds,2.04,45.34,Hotel Juba
7,Omboue,GA,77.76,overcast clouds,-1.57,9.26,Hotel Olako
11,Cururupu,BR,86.11,broken clouds,-1.83,-44.87,Pousada Través'cia
...,...,...,...,...,...,...,...
698,Campoverde,PE,80.60,few clouds,-8.48,-74.81,"Hospedaje ""Señor De Muruhuay"""
699,La Asuncion,VE,82.40,clear sky,11.03,-63.86,Colinas de Matasiete
700,Abilene,US,87.80,clear sky,32.45,-99.73,La Quinta Inn by Wyndham Abilene
701,Benjamin Constant,BR,77.00,overcast clouds,-4.38,-70.03,CASA AVALIADA
702,Sola,VU,79.54,moderate rain,-13.88,167.55,Leumerus Bungalows

In [15]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>Current Weather</dt><dd>{Current Description}and{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
#create a marker layer map that will have pop-up markers for each city on the map.
# assign the figure variable and add a geographic center and zoom level to show only one map of Earth
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))